<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <script src="/static/js/jquery.min.js"/>
    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>
<body>
<h2>게시글 등록</h2>
<form id="createForm" action="/board/create_board" method="post">
    <table>
        <tr>
            <th>제목</th>
            <td><input type="text" name="title" id="title"></td>
        </tr>
        <tr>
            <th>닉네임</th>
            <td><input type="text" name="name" id="name"></td>
        </tr>
        <tr>
            <th>내용</th>
            <td><textarea name="content" id="content"></textarea></td>
        </tr>
        <tr>
            <td>  <button type="button" class="btn btn-primary" id="insert">글쓰기</button> </td>
        </tr>
    </table>
</form>
<script>
    $('#insert').click(function () {

        var jsonData = JSON.stringify({
            title: $('#title').val(),
            name: $('#name').val(),
            content: $('#content').val(),
        });

        $.ajax({
            url: "http://localhost:8080/board/create_board",
            type: "POST",
            data : jsonData,
            contentType: "application/json",
            dataType: "json",

            success: function () {
                alert("저장성공!");
                location.href = '/board/list';
            },

            error: function () {
                alert("저장 실패!");
            }
        });
    });
</script>
</body>
</html>