<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- 합쳐지고 최소화된 최신 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

    <!-- 부가적인 테마 -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

    <!-- 합쳐지고 최소화된 최신 자바스크립트 -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
</head>
<body>
<h2>게시판 수정</h2>
<form action="/board/update_list" th:method="put">
    <table class="table table-hover">

        <tr>
        <th>글번호</th>
        <td th:text="${board?.idx}" name="idx"></td>
    </tr>
    <tr>
        <th>시간</th>
        <td th:text="${board?.createdDate}" name="time"></td>
    </tr>
    <tr>
        <th>제목</th>
        <td><input type="text" name="title" th:value="${board?.title}"></td>
    </tr>
    <tr>
        <th>닉네임</th>
        <td th:text="${board?.name}" name="name"></td>
    </tr>
    <tr>
        <th>내용</th>
        <td><textarea name="content" th:text="${board?.content}" ></textarea></td>
    </tr>
    </table>

    <input type="hidden" name="idx" th:value="${board?.idx}">
    <input type="hidden" name="createdDate" th:value="${board?.createdDate}">
    <input type="hidden" name="name" th:value="${board?.name}">
    <input type="submit" value="저장하기">

</form>
</body>
</html>